body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-5px;
  width:1286px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1px;
  width:636px;
  height:1276px;
}
#u0_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:1276px;
  overflow:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:584px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:374px;
  width:616px;
  height:584px;
  display:flex;
  font-size:28px;
  text-align:left;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
